.currentContainer {
    padding: 35px;
}

.cityList {
    width: 50%;
}

#fiveDay {
    padding-right: 20px;
}

.column {
    padding: 5px;
    margin: 10px;
}

.row {
    padding: 10px;
}

.favorable {
    background-color: rgb(34,139,34);
}

.moderate {
    background-color: rgb(255,255,51);
}

.severe {
    background-color: rgb(255,0,0);
}