.hero {
    padding: 2%;
    background-color: rgb(32, 32, 32);
    color: white;
}

.btn {
    background-color: rgb(48, 48, 238);
    color: white;
}

#cityForm {
    padding: 10px;
}

.currentContainer {
    padding: 35px;
}

.cityList {
    width: 50%;
}

#fiveDay {
    padding-right: 20px;
}

.column {
    padding: 5px;
    margin: 10px;
    background-color: rgb(48, 48, 238);
    color: white;
}

.row {
    padding: 10px;
}

.favorable {
    background-color: rgb(34,139,34);
}

.moderate {
    background-color: rgb(255,255,51);
}

.severe {
    background-color: rgb(255,0,0);
}